<mat-card>
  <form #accountForm="ngForm" (ngSubmit)="save(accountForm.value)">
    <mat-card-header>
      <mat-card-title>
        <h2>{{account.firstName ? 'Edit' : 'Add'}} Account Details</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="account.href">
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="account.firstName" required name="firstName" #firstName/>
      </mat-form-field> <br>
      <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="account.lastName" required name="lastName" #lastName/>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Account Number" [(ngModel)]="account.accountNumber" required name="accountNumber" #accountNumber/>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!accountForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(account.href)" *ngIf="account.href" type="button">Delete</button>
      <a mat-button routerLink="/account-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </form>
</mat-card>
