<h2>Account List</h2>

    <table mat-table border="1" style="text-align:center">
      <tr>
        <th mat-header-cell > ID </th>
        <th mat-header-cell > First Name </th>
        <th mat-header-cell > Last Name </th>
        <th mat-header-cell > Account Number </th>
      </tr>
      <tr *ngFor="let account of accounts">
        <td mat-cell > {{account.id}} </td>
        <td mat-cell > {{account.firstName}} </td>
        <td mat-cell > {{account.lastName}} </td>
        <td mat-cell > {{account.accountNumber}} </td>
      </tr>
    </table>
